*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    font-weight: 900;
    background: url(../images/developer.png) ,url(../images/header_bg.png), #FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    
}

.logo h2{
    font-size: 45px;
}
.colororange{
    color: #FD6E0A;
}
nav{
    max-width: 1140px;
    /* border: 2px solid blueviolet; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
    
}

nav .menu a{
    font-size:20px ;
    color: #474747;
    text-decoration: none;
}

.btn{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    min-width: 150px;
    height: 65px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* *{
    background-color: blanchedalmond;
} */

#banner{
    /* border: 2px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
}

#banner .banner-content h2{

    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 400;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}